<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="sauces$ | async as sauces">
  <p *ngIf="!loading && sauces.length <= 0">
    No sauce to display !
  </p>
  <p class="list-title" *ngIf="!loading && sauces.length > 0">THE SAUCES</p>
  <div class="sauce-list" *ngIf="!loading && sauces.length  > 0">
    <div class="sauce-list-item" *ngFor="let sauce of sauces" (click)="onClickSauce(sauce._id)">
      <img id="uploaded" alt="" [src]="sauce.imageUrl" width="200" height="200">
      <img alt="default image" src="https://image.freepik.com/free-vector/mexican-chili-pepper_6460-582.jpg" width="198" height="198">
      <h4>{{ sauce.name | uppercase }}</h4>
      <p>Heat: {{ sauce.heat }}/10</p>
    </div>
  </div>
</ng-container>
